doctype html
html
  head
    meta(charset='utf8')
    base(href='/')
    title Edumate and Canvas Tools
    meta(name='description', content='')
    meta(name='author', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/css/normalize.css')
    link(rel='stylesheet', href='/css/skeleton.css')
    link(rel='stylesheet', href='/css/status.css')
    //link(rel='icon', type='image/png', href='/images/favicon.png')
    script(src='/js/jquery.min.js')

  body
    block body