.success {
  color: #2ecc71;
}

.none {
  color: #7f8c8d;
}

.minor {
  color: #f1c40f;
}

.major {
  color: #e67e22;
}

.critical {
  color: #e74c3c;
}

.sis {
  color: #FFF;
  background-color: #27ae60;
  border-color: #27ae60;
}

.sis:hover, .sis:focus {
  background-color: #2ecc71;
  border-color: #2ecc71;
}

.canvas {
  color: #FFF;
  background-color: #c0392b;
  border-color: #c0392b;
}

.canvas:hover, .canvas:focus {
  background-color: #e74c3c;
  border-color: #e74c3c;
}

#footer {
  color: #bdc3c7;
  text-align: center;
  margin-top: 20px;
}